@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body {
    font-family: "Poppins", sans-sarif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: steelblue;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 150%;
}

.card {
    margin: 1em;
    max-width: 400px;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.76);
    padding: 2em;
    border-radius: 30px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;

}

button {
    color: white;
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 3em;
    background: none;
    width: 3em;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 18px;
    background-color: rgba(93, 93, 93, 0.219);
    color: white;
    font-size: 105%;
    width: calc(70%);
}

button:hover {
    background-color: rgba(64, 63, 63, 0.701);
}

h1.temp {
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    font-size: 300%;
}

h2.city {
    margin-bottom: 0;
    margin-top: 0.2em;
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    font-size: 200%;
}

.description {
    text-transform: capitalize;
}

.flex {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
}

img.icon {
    height: 1.5em;
    width: 1.5em;
}

.weather.loading {
    display: none;
    max-height: 20px;
    position: relative;
}

.weather.loading:after {
    visibility: visible;
    content: "loading";
    color: white;
    position: absolute;
}